* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/bg/main_bg.jpg') center center / cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img{
    display: block;
    margin: 0 auto;
}

.logo .logo_text{
   
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px ;
}
.title {
    font-family: "Roboto - Black";
    font-weight: 400;
    font-size: 41px;
    line-height: 24px;
    text-transform: uppercase;
    color: #F9BF3B;
    text-align: center;
}
h2.title {
    margin-top: 30px;
}
.simple .title_big {
    font-family: "Roboto - Black";
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    font-family: "Roboto Light";
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    
}

.promo .promo_text span {
    color: #F9BF3B;
    font-family: "Roboto Bold";
    font-weight: 700;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    border: 4px solid rgba(0, 0, 0, 0.23);
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.18);
    
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-family: "Roboto - Thin";
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: Roboto;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #4A4A4A;
    text-transform: uppercase;
}

.finish .finish_header {
    color: #fff;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
margin-top: 17px;  
font-family: Roboto;
font-weight: 400;
font-size: 23px;
text-align: center;
color: #4A4A4A;
}

.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;

    
}

.waiting .waiting_wrapper .waiting_item .waiting_ing{
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 30px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-width: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: "Roboto - Black";
    font-weight: 400;
    font-size: 29px;
    color: #299cbd;
    text-transform: uppercase;

}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-family: "Roboto - Light";
    font-style: 17px;
    font-weight: 300;
    line-height: 27px;
}

.optimization .optimization_text span {
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;

}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;

}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}


.gift {
    min-height: 628px;
    padding: 86px 0 87px 0;
    background-color: #efefef;
    
}



.gift .img_gift{
    display: block;
    margin: 0 auto;
    
}

.gift .gift_descr {
    margin-top: 42px;
    text-align: center;
    width: 1020px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 30px;
    color: #252525;
}



.first_webinar .container {
    padding: 70px;
}
.first_webinar .first_webinar_descr {
    margin-top: 37px;
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.first_webinar .descr_big {
    margin-top: 30px;
    font-family: 'Roboto - Black';
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
   
    color: #299CBD;  
    text-transform: uppercase;
}

.first_webinar .first_webinar_descr_2 {
    margin-top: 20px;
    font-family: Roboto;
    font-size: 23px;
    line-height: 20px;
    color: #4A4A4A;
    text-align: center;
   
    font-weight: 400;
    text-transform: uppercase;
}
.first_webinar .item_img{
    display: block;
    margin: 0 auto;
}
footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}
.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

footer a {
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}
 .underlined {
     text-decoration: underline;
 }